.header {
	width: calc(100vw);
	height: 50px;
	background-color: rgba(47, 47, 47, 0.9);
}
.headerContent {
	width: 600px;
	height: 100%;
	margin: 0 auto;
}
button {
	float: left;
	line-height: 50px;
	color: #ddd;
	font-size: 24px;
	cursor: pointer;
	font-family: "微软雅黑";
	padding: 0;
	border: none;
}
.inputCss {
	float: right;
	width: 360px;
	height: 24px;
	margin-top: 12px;
	text-indent: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
	border: none;
}