/*
* @Author: ranran
* @Date:   2017-06-18 21:36:17
* @Last Modified by:   ranran
* @Last Modified time: 2017-06-18 22:04:44
*/
.footer {
	padding: 0;
	margin: 20px auto;
	width: 600px;
	color: black;
	font-family: "微软雅黑";
}